{# TEMPLATE: footer.twig #}
<div>
<p class="bg-gradient-to-r from-grape-500 to-yellow-500 inline-block bg-clip-text">
Produced by Saskia, Jonathan and Forest, students in the Faculty of Arts and Design, University of Canberra, 2024. In partnership with Canberra Modern.</p>
</div>
