{# TEMPLATE: footer.twig #}

<p class="text-gradient">Produced by Saskia, Jonathan and Forest, students in the Faculty of Arts and Design, University of Canberra, 2024. In partnership with Canberra Modern.</p></p

