{% extends "base.twig" %}

{% block content %}

	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}

	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

	<div 
		class="debug p-8 bg-debug">
		{# useful for debugging, delete later #}
		<h1>Debug info</h1>

		<p class="text-gradient-to-r from-3de2ff to-fe97df to-ffcb3d">>post name:
			{{post.name}}</p>

		<p>file name: index.twig</p>

		{# Output what is in the post #}
		{# {{dump(post)}} #}
	</div>
{% endblock %}
